include README.rst
include LICENSE
include requirements.txt
recursive-include ckanext/psqlsearch *.html *.json *.js *.less *.css *.mo *.yml
recursive-include ckanext/psqlsearch/migration *.ini *.py *.mako
recursive-include ckanext/psqlsearch/public *.*
