include README.md
include LICENSE
include requirements.txt
recursive-include ckanext/pgsearch *.html *.json *.js *.less *.css *.mo *.yml
recursive-include ckanext/pgsearch/migration *.ini *.py *.mako
recursive-include ckanext/pgsearch/public *.*
